/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/photo-1531297484001-80022131f5a1.avif);
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

header {
    background-color: #000007;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

header .logo {
    margin: 10 auto; /* Center the logo horizontally */
    

    
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside.sidebar {
    background-color: #d22020;
    color: #fff;
    padding: 50px;
    min-width: 200px;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #333 3px 3px;
    border-radius: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

/* About section styles */
#content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.about-content {
    flex: 1;
    margin-right: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
}

/* Other section styles */
/* Add your styles for Experience, Education, Skills, and Contact sections here */

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.image-resize{
        width: 25px;
        height: 25px;
    }